In [2]:
import pandas as pd

In [11]:
# Reads the file into the "dataframe" var using pandas read_csv func. Optional arg header= None removes the first row of the dataset
# which pandas assumes is the header
dataframe = pd.read_csv("season2016.csv")

In [9]:
# Reads the first n rows of the file
dataframe.head(5)

         Date        Opponent Location  Points For  Points Against
0  2016-12-31        Kentucky  Neutral          33              18
1  2016-11-26         Georgia     Away          28              27
2  2016-11-19        Virginia     Home          31              17
3  2016-11-12   Virginia Tech     Away          30              20
4  2016-11-05  North Carolina     Away          20              48

In [10]:
# Reads the last n rows of the file
dataframe.tail(5)

          Date        Opponent Location  Points For  Points Against
8   2016-10-01        Miami-FL     Home          21              35
9   2016-09-22         Clemson     Home           7              26
10  2016-09-17      Vanderbilt     Home          38               7
11  2016-09-10          Mercer     Home          35              10
12  2016-09-03  Boston College  Neutral          17              14