In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("season2016.csv")

In [3]:
df.head(10)

         Date          Opponent Location  Points For  Points Against
0  2016-12-31          Kentucky  Neutral          33              18
1  2016-11-26           Georgia     Away          28              27
2  2016-11-19          Virginia     Home          31              17
3  2016-11-12     Virginia Tech     Away          30              20
4  2016-11-05    North Carolina     Away          20              48
5  2016-10-29              Duke     Home          38              35
6  2016-10-15  Georgia Southern     Home          35              24
7  2016-10-08        Pittsburgh     Away          34              37
8  2016-10-01          Miami-FL     Home          21              35
9  2016-09-22           Clemson     Home           7              26

In [4]:
df.dtypes

Date              object
Opponent          object
Location          object
Points For         int64
Points Against     int64
dtype: object

In [5]:
for record in df:
    print(record)

Date
Opponent
Location
Points For
Points Against

<href>www.google.com